html, body {
    height: 100%;
    margin: 0;
}


/* MAP */
.map-container {
    position: relative;
    height: 100vh;
}

div.folium-map {
    height: 100% !important;
}

.map {
    height: 100%;
}

.leaflet-control-zoom {
    margin-top: 75px !important;
}


/* SEARCH BOX */
.search-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 10px;
    width: 400px;
    height: 35px;
}


#place {
    font-size: 13px;
}


.search-box button {
    border: none;
    background-color: #C8B6D9;
    color: #514B52;
    width:90px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* SAVE MESSAGE POP UP */
#save-message {
    position: absolute;
    z-index: 1000;
    border: none;
    color: #6F9675;
    font-size: 15px;
    font-weight: bold;
    top: 20px;
    right: 65px;
    width: 90px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
}



/* SAVE BUTTON  */
.save-button {
    background: none;
    border: none !important;
    color: #514B52;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.save-popup {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-name {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center !important;
}



/* MENU */
.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}


.menu-trigger {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 140px;
    height: 40px;
    z-index: 1000;
    background-color:#C8B6D9 !important;
    border: none !important;
    color: #514B52 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    justify-content: center !important;
    align-items: center !important;
}


.menu-content {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 140px;
    display: none;
    flex-direction: column;
    background-color: #FFF9FC;
    border-radius: 12px;
    padding: 8px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.side-menu:hover .menu-content {
    display: flex;
}


.menu-content button {
    border: none;
    background: transparent;
    width: 100%;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: normal;
    justify-content: center;
}


.menu-content button:hover {
    background-color: #F0E5F2;
}




/* DROP OUT LISTS */
.places-options {
    display: none;
    flex-direction: column;
}


.places-list{
    position: fixed;
    z-index: 1000;
    transform: translateY(110%);
    bottom: 0;
    margin: 0 2% 0 2%;
    width: 96%;
    height: 30%;
    transition: 1s;
    background-color: #FFF9FC;
    border-radius: 12px;
    padding: 8px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.places-list.open{
    transform: translateY(0%);
    bottom: 2%;
}


.places-list-header{
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 5px;
}

.places-list-header h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #514B52;
    font-weight: bold;
}

.places-list-header button{
    padding: 0;
    background: none;
    border: none;
    color: #514B52;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.places-list-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px, 6px;
    padding: 10px 20px;
    overflow-y: auto;
    cursor: default;
    max-height: 80%;
    overflow-y: auto;
}

.every-item {
    padding: 8px 12px;
    border-radius: 8px;
    color: #514B52;
    font-size: 15px;
    font-weight: 500;
}

.every-item:hover {
    background-color: #F6EAF1;
}



/* DELETE BUTTON */
.delete-button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    justify-content: center;
}

.every-item:hover .delete-button {
    opacity: 1;
}

.popup-delete-button {
    background: none;
    border: none !important;
    color: #514B52;
    font-size: 12px;
    font-weight: bold;
    display: block;
    justify-content: center;
}


.city-popup {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-name {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center !important;
}





/* LOGIN AND REGISTRATION CONTAINER */

.login-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    width: 30%;
    height: 40%;
    background-color: #FFF9FC;
    border-radius: 12px;
    padding: 8px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#login-paste-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#login-paste-boxes div {
    display: flex;
    gap: 20px;
    transform: translateY(10px);
}

#login-close-button {
    position:absolute;
    display: flex;
    background-color: transparent;
    border-color: transparent;
    top: 10px;
    right: 10px;
}

#login-container-button {
    display: flex;
    flex-direction: row !important;
    gap: 50px;
    align-items: center;
    transform: translateY(20px);
}

#login-container-button button{
    width: 90px !important;
    height: 30px !important;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: normal;
}

#login-container-button button:hover {
    background-color: #f5d9e8;
    border-color: #f5d9e8;
    cursor: pointer;
    transform: scale(1.05);
}

#login-error {
    display: none;
    position: absolute;
    right: 5%;
    width: 335px !important;
    height: 35px;
    top: 19px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#register-error {
    display: none;
    position: absolute;
    right: 5%;
    width: 335px !important;
    height: 35px;
    top: 19px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}