<!DOCTYPE html>
<html>


<head>
    <title>My Places</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {{ header | safe }}
</head>



<body>
<div class="map-container">

    <div class="map">
        {{ body_html | safe }}
    </div>

    <form class="search-box" id="search-form">
        <input class="form-control" type="text" id="place" name="place" autocomplete="off">
        <button class="btn btn-primary" id="search-button" type="button">SEARCH</button>
    </form>
    <div class="alert alert-warning" role="alert" id = "not-found"> Place was not found! </div>
    <div id="save-message" class="alert alert-success" role="alert">SAVED</div>
    




    <div class="side-menu">
        <button class="menu-trigger btn btn-primary" type="button">MENU</button>
        <div class="menu-content">
            <button class="btn btn-light" type="button" id = "login-button">LOGIN</button>
            <button class="btn btn-light" id = "database-show" type="button"> MY PLACES</button>
            <div class="places-options" id="places-options">
            <button class="btn btn-light" id="countries-show" type="button">
                COUNTRIES
            </button>
            <button class="btn btn-light" id="cities-show" type="button">
                CITIES
            </button>

            </div>
    
        </div>
    <div class = "login-container" id = "login-container">
                        <div class="container-fluid">
                            <h2>Hi there!</h2>
                            <form class="d-flex" id = "login-paste-boxes">
                                <div><label for="username">USERNAME:</label><input class="form-control me-2" id = "username" type="text"/></div>
                                <div><label for="password">PASSWORD:</label><input class="form-control me-2" id = "password" type="password"/></div></form>
                                <form id = "login-container-button">
                                    <button class="btn btn-light" type="button" id = "login-mini-button">LOGIN</button>
                                    <button class="btn btn-light" type="button" id="login-register">REGISTER</button></form>
                        <button class="close-button" id = "login-close-button" type="button">✕</button>
                        </div>
                </div>

        
            </div>
    <div class="alert alert-danger" id="login-error" role="alert">
         Wrong username or password! Please try again!
    </div>
    <div class="alert alert-danger" id="register-error" role="alert">
        This username is already taken! Please try again!
    </div>



    </div>
    <div class="places-list" id="countries-list">
        <div class="places-list-header">
            <h3>COUNTRIES</h3>
            <button id="countries-close">✕</button>
        </div>

        <div class="places-list-content" id = "countries-list-content"></div>
    </div>

    <div class="places-list" id="cities-list">
        <div class="places-list-header">
            <h3>CITIES</h3>
            <button id="cities-close">✕</button>
        </div>

        <div class="places-list-content" id = "cities-list-content"></div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script>
    {{ script | safe }}
</script>

<script>
    let myMap = Object.values(window).find(
        value => value instanceof L.Map);
</script>

<script>
    let city_layer_name = "{{ city_layer_name }}";
    let city_layer = window[city_layer_name];
    

    let countries_layer_name = "{{ countries_layer_name }}";
    let countries_layer = window[countries_layer_name];


    const username = document.getElementById("username");
    const password = document.getElementById("password");
    const loginError = document.getElementById("login-error");
    const registerError = document.getElementById("register-error");
    function Login(action)
        {const username_value = username.value;
        const password_value = password.value;
        const formData = new FormData();

        formData.append("username", username_value);
        formData.append("password", password_value);
        formData.append("action", action);

        fetch("/login/", 
            {method: "POST",
            body: formData })
        .then(response => 
            {if (response.redirected)
                {window.location.href = response.url;}
            else {response.text()
                .then(message => 
                    {if (action === "login")
                        {loginError.style.display = "flex";
                        setTimeout(function(){loginError.style.display = "none";}, 3000);}
                    else
                        {registerError.style.display = "flex";
                        setTimeout(function(){registerError.style.display = "none";}, 3000);}
                    })
                }
            });
        }
    
    function show_saved_messsage()
                        {let save_message = document.getElementById("save-message")
                        save_message.style.display = "flex";
                        setTimeout(function() {save_message.style.display = "none"}, 5000);}
    

    function show_not_found()
                        {let not_found = document.getElementById("not-found")
                        not_found.style.display = "flex";
                        setTimeout(function() {not_found.style.display = "none"}, 5000);}

    const databaseButton = document.getElementById("database-show");
    const placesOptions = document.getElementById("places-options");
    const sideMenu = document.querySelector(".side-menu");
    databaseButton.addEventListener("mouseenter", function() 
        {placesOptions.style.display = "flex";});
    sideMenu.addEventListener("mouseleave", function() 
        {placesOptions.style.display = "none";});


    const citiesButton = document.getElementById("cities-show")
    const citiesList = document.getElementById("cities-list")
    const citiesCloseButton = document.getElementById("cities-close")
    const countriesButton = document.getElementById("countries-show")

    const countriesList = document.getElementById("countries-list")
    const countriesCloseButton = document.getElementById("countries-close")

    const citiesListContent = document.getElementById("cities-list-content")
    const countriesListContent = document.getElementById("countries-list-content")
        countriesButton.addEventListener("click", function() 
            {citiesList.classList.remove("open");
            countriesList.classList.add("open");});
        countriesCloseButton.addEventListener("click", function()
            {countriesList.classList.remove("open");});
        citiesButton.addEventListener("click", function() 
            {countriesList.classList.remove("open");
            citiesList.classList.add("open");});
        citiesCloseButton.addEventListener("click", function()
            {citiesList.classList.remove("open");});


    function updateLists()
        {fetch("/places/")
            .then(response => response.text())
            .then(data =>
            {const temp = document.createElement("div")
            temp.innerHTML = data
            const newCountries = temp.querySelector("#countries-data")
            countriesListContent.innerHTML = newCountries.innerHTML
            const newCities = temp.querySelector("#cities-data")
            citiesListContent.innerHTML = newCities.innerHTML})}


    function updateMap()
        {fetch("/map-data/")
            .then(response => response.json())
            .then(data =>
            {countries_layer.clearLayers();
            city_layer.clearLayers();
            L.geoJSON(data.countries).addTo(countries_layer);
            Object.entries(data.cities).forEach(([city, coordinates]) =>
                {let saved_Icon = L.AwesomeMarkers.icon
                    ({icon: "star",
                    markerColor: "purple"});
                L.marker([coordinates.latitude, coordinates.longitude], {icon: saved_Icon})
                .bindPopup(`<div class="city-popup">
                    <div class="city-name">${city}</div>
                    <button class="btn btn-outline-danger popup-delete-button"
                    data-id="${coordinates.id}"
                    data-type="city"
                    type="button">DELETE</button>`)
                .addTo(city_layer);});});}
    
    function escapeHTML (text) 
        {return text
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");}

    updateMap();            
    updateLists(); 

    document.addEventListener("click", function(event)
        {if (!event.target.classList.contains("delete-button") &&
            !event.target.classList.contains("popup-delete-button"))
            {return;}
        const button = event.target;
        const result = 
            {id: button.dataset.id,
            type: button.dataset.type};
        fetch("/delete/", 
            {method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(result)})
            .then(response => response.json())
            .then(data =>     
                {if (data.success) 
                {updateLists();
                updateMap();}});
    });
    



    const loginContainer = document.getElementById("login-container");
    document.getElementById("login-button").onclick = function()
        {loginContainer.style.display = "flex";};
    document.getElementById("login-close-button").onclick = function()
        {loginContainer.style.display = "none";};
    

    const loginInput = document.getElementById("login-mini-button");
    const registInput = document.getElementById("login-register");
    
    loginInput.addEventListener("click", function()
        {Login("login");
        });

    registInput.addEventListener("click", function()
        {Login("register");
        });
    



    function searchPlace() 
        {console.log("CLICK");

    let place = document.getElementById("place").value;

    fetch("/search/", 
        {method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded",},
        body: "place=" + place})
    .then(response => 
        {console.log("RESPONSE", response);
        return response.json();})
    .then(data => 
        {console.log("ANSWER FROM FLASK", data);


        let placeType;
        if (data.city_name) {placeType = "city";} 
        else {placeType = "country";}

        let placeName = data.city_name ?? data.country_name;
        let marker = L.marker([data.lat ?? data.country_lat,data.lon ?? data.country_lon])
        .addTo(myMap)
        .bindPopup(`<div class="save-popup">
            <div class="place-name">${escapeHTML(placeName)}</div>
            <button class="btn btn-outline-success save-button"
            type="button">SAVE</button></div>`);

        marker.on("popupopen", function() 
            {document.querySelector(".save-button").onclick = function() 
                {fetch("/save/", 
                    {method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({name: placeName})})
                .then(response => response.json())
                .then(result => 
                {if (!result.found) 
                    {show_not_found();
                    return;}
                show_saved_messsage();
                myMap.removeLayer(marker);
                updateMap();
                updateLists();});
                };
            });

        marker.on("popupclose", function() 
            {myMap.removeLayer(marker);});

        marker.openPopup();

    })
    .catch(error => {
        console.log("SEARCH ERROR", error);
    });

}
document.getElementById("search-button").onclick = function() 
    {searchPlace();};
document.getElementById("place").onkeydown = function(event) 
    {if (event.key == "Enter") 
        {event.preventDefault();
        searchPlace();}};

</script>

</body>

</html>